<html>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles.css">
    <body>
        <div class="header">
            <div class="sign-up">
                <form action="{{ url_for('login') }}" method="get">
                    <button type="submit">Login</button>
                </form>
            </div>
            
        </div>
        <div class="container">
            <div class="intern">
                <form method="post" action=""> 
                    <h2>Registro</h2> 
                    <p> 
                    <label for="email_login">User: </label>
                    <input id="email_login" name="email_cadastro" required="required" type="text"/>
                    </p>
                    
                    <p>
                    <label for="pass_login">Senha: </label>
                    <input id="pass_login" name="pass_cadastro" required="required" type="password">
                    </p>
                    
                    <p> 
                    <input type="submit" value="Sign-up" /> 
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
