<style>
    /* Estilize o contêiner que envolve as labels para ajustar o espaçamento vertical */
    .labels-container {
        padding-bottom: 1px; /* Ajuste o valor da propriedade padding conforme necessário */
    }
    
    /* Estilize as labels */
    label {
        display: block; /* Coloque cada label em uma nova linha */
    }
</style>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="insert-box">
        <div class="box">
            <form method="post" action="/box">
                <div class="labels-container>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome">
                    <br>
                    <label for="avaliacao">Avaliação:</label>
                    <input type="text" id="avaliacao" name="avaliacao">
                    <br>
                    <label for="valor">Nota:</label>
                    <input type="text" id="valor" name="valor">
                    <br>
                    <button type="submit" name="opc" value="insert">Enviar</button>
                    <button type="submit" name="opc" value="remove">Remover</button>
                </div>
            </form>
        </div>
    </div>
    <div class="home-sidebar">
        <div class="siderbar-intern">
           <a>{{ tabela_html | safe }}</a>
        </div>
    </div>
</body>
</html>