<html>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles.css">
    <body>
        <div class="header">
            <a href="https://github.com/jerre231" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo">
            </a><a href="https://www.linkedin.com/in/jo%C3%A3o-ricardo-monteiro-scofield-lauar-11035228a/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" alt="LinkedIn Logo">
            </a>
            <div class="sign-up">
                <form action="{{ url_for('pagina_de_cadastro') }}" method="get">
                    <button type="submit">Sign-up</button>
                </form>
            </div>
            
        </div>
        <div class="container">
            <div class="intern">
                <form method="post" action=""> 
                    <h2>Login</h2> 
                    <p> 
                    <label for="email_login">User: </label>
                    <input id="email_login" name="email_login" required="required" type="text"/>
                    </p>
                    
                    <p>
                    <label for="pass_login">Senha: </label>
                    <input id="pass_login" name="pass_login" required="required" type="password">
                    </p>
                    
                    <p> 
                    <input type="submit" value="Sign-in" /> 
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
